extends layout

block content

  h1 #{title} 
  p #{category.name} 
  p Description:#{category.description}

  if brand_articles.length

    p #[strong Delete the following articles before attempting to delete this category.]
    div(style='margin-left:20px;margin-top:20px')
      h4 Articles
      dl
        each article in brand_articles
          dt
            a(href=article.url) #{article.name}
          dd #{article.description}

  else
    p Do you really want to delete this category?

    form(method='POST')
      div.form-group
        input#categoryid.form-control(type='hidden', name='categoryid', value=category._id )

      button.btn.btn-primary(type='submit') Delete
